.header {
  height: 50px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: var(--mantine-color-text);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: 48em) {
    height: 42px;
    width: 100%;
  }
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}
